<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{{htmlWebpackPlugin.options.title}}</title>
  
  <link rel="stylesheet" type="text/css" href="/css/main.css">
  <link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
  
  <script src="https://api-maps.yandex.ru/2.1/?apikey=1e4efade-d9ae-48e5-884f-633855421f88&lang=ru_RU" type="text/javascript"></script>
</head>
<body>
  <div id="map"></div>
</body>
</html>
